 <div class="example-container slide-in">
    <mat-form-field>
        <input matInput placeholder="Email" [value]="profile?.email" />
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="First name" [value]="profile?.firstName" />
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Last name" [value]="profile?.lastName" />
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Display name" [value]="profile?.displayName" />
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Description" [value]="profile?.description" />
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Department" [value]="profile?.department" />
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Team" [value]="profile?.team" />
      </mat-form-field>            
 </div>
 
