 <div class="example-container">
    <mat-form-field>
        <input matInput placeholder="Email" />
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="First name" />
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Last name" />
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Display name" />
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Description" />
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Department" />
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Team" />
      </mat-form-field>            
 </div>
 
